.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.List {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.ListItems {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-bottom: 24px;
}

.Form {
  display: flex;
  flex-direction: column;
}
